<mat-card *ngIf="user">
    <h1 class="text-center">  Your Profile Details!!</h1>
    <mat-card-content>
        <div class="bootstrap-wrapper">
            <div class="container">

                <div class="container text-center">
                    <img src="https://media.istockphoto.com/id/1300845620/vector/user-icon-flat-isolated-on-white-background-user-symbol-vector-illustration.jpg?s=612x612&w=0&k=20&c=yBeyba0hUkh14_jgv1OKqIH0CCSWU_4ckRkAoy2p73o=" 
                    alt=""
                    class="profile-image"
                    /> 
                    <h1 class="mt20">{{user.userName}}</h1>
                    <!-- {{user | json}} -->
                </div>
                <div class="row">
                    <div class="col-md-10 offset-md-1">
                        <!-- table details -->
                        <table class="table text-center">
                            <tr>
                                <td>Username</td>
                                <td>{{user.userName}}</td>
                            </tr>
                            <tr *ngIf="user.email">
                                <td>Email</td>
                                <td>{{user.email}}</td>
                            </tr>
                            <tr>
                                <td>Role</td>
                                <td>{{user.authorities[0].authority}}</td>
                            </tr>
                            <tr>
                                <td>Status</td>
                                <td>{{user.enabled?"Active":"Not Active"}}</td>
                            </tr>

                        </table>
                    </div>
                </div>
            </div>
        </div>
        
    </mat-card-content>
    <!-- <mat-card-actions class="text-center">
        <button mat-raised-button color="primary">Update</button>
        <button mat-raised-button color="accent">Share</button>
    </mat-card-actions> -->
</mat-card>
