<mat-card>
    <mat-action-list>
        <div mat-subheader>Menu</div>
        <button routerLink="/admin" mat-list-item><mat-icon mat-list-icon>home </mat-icon> Home</button>
        <button mat-list-item routerLink="/admin/profile">
            <mat-icon mat-list-icon>account_circle</mat-icon>Profile</button>
         <button mat-list-item routerLink="/admin/addmovie">
            <mat-icon mat-list-icon>add_circle</mat-icon>Add Movie</button>
        <button mat-list-item routerLink="/admin/viewmovies">

            <mat-icon mat-list-icon>pageview</mat-icon>Show Movies</button>
        <button mat-list-item routerLink="/admin/showtickets">
            <!-- <mat-icon mat-list-icon>quiz</mat-icon>Delete Movie</button>
        <button mat-list-item routerLink="/admin/add-quiz"> -->
            <mat-icon mat-list-icon>view_carousel</mat-icon>All Booked Tickets</button>
         <button mat-list-item (click)="logout()"> 
            <mat-icon mat-list-icon>logout</mat-icon>Logout</button>
    </mat-action-list>
</mat-card>
